fastapi==0.115.3
SQLAlchemy==1.4.54
pillow==10.4.0
pydantic==1.10.18
aio-pika==9.4.3
    # via -r requirements.in
aiofiles==23.2.1
    # via -r requirements.in
aiohttp==3.7.4.post0
    # via aioresponses
aiokafka==0.11.0
    # via -r requirements.in
aioresponses==0.7.6
    # via -r requirements.in
aiormq==6.8.1
    # via aio-pika
async-timeout==4.0.3
    # via aiohttp
asyncio-mqtt==0.16.2
    # via -r requirements.in
attrs==21.4.0
    # via aiohttp
certifi==2022.12.7
    # via
    #   -r requirements.in
    #   requests
    #   sentry-sdk
chardet==4.0.0
numpy==1.21.4
    # via -r requirements.in
packaging==21.3
    # via pint
paho-mqtt==1.6.1
    # via asyncio-mqtt
pamqp==3.3.0
    # via aiormq
pint==0.24.3
    # via -r requirements.in
prometheus-client==0.21.0
    # via -r requirements.in
psychrolib==2.5.0
    # via -r requirements.in
pybase62==0.6.0
    # via aedifion-swop
pydantic==2.9.2
    # via
